body{
    font-family: 'Open Sans', sans-serif;
    background: white;
    max-width: 1080px;
    margin-top: 40pt;
    margin-bottom: 40pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20pt;
    padding-right:20pt;
}


h1{
    color:#e74c3c;
    font-size: 15pt;
    font-weight: 300; /*Light*/
    margin-top: 40pt; 
}

h2{
    color: black;
    font-size: 11pt;
    font-weight: 600;
}

p{
    color: #bdc3c7;
    font-size: 11pt;
    font-weight: 300; 
}

/*The line under the title*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

#title{
    color:#e74c3c;
    font-size: 23pt;
    font-weight: 400;
    text-align: center;
    margin-top: 40pt; 
}

#subtitle-up{
    color:#bdc3c7;
    font-size: 11pt;
    font-weight: 300;
    text-align: center;
}

#subtitle-down{
    color:#bdc3c7;
    font-size: 11pt;
    font-weight: 300;
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

